<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Contact Entry</legend>

    <div class="field band">
      <%= f.label :band %><br>
      <%= f.select :band, ContactsHelper::BAND, :selected => params[:band] %>
    </div>
    <div class="field mode">
      <%= f.label :mode %><br>
      <%= f.select :mode, ContactsHelper::MODE, :selected => params[:mode] %>
    </div>
    <div class="field callsign">
      <%= f.label :callsign, "Call Sign" %><br>
      <%= f.text_field :callsign %>
    </div>
    <div class="field classification">
      <%= f.label :classification, "Operating Class" %><br>
      <%= f.text_field :classification %>
    </div>
    <div class="field section">
      <%= f.label :section %><br>
      <%= f.text_field :section %>
    </div>
    <div class="actions">
      <% if @contact.errors.any? %>
        <%= f.submit :class => 'error' %>
      <% else %>
        <%= f.submit %>
      <% end %>
    </div>
  </fieldset>
<% end %>
