<h2>Last 5 Contacts</h2>
<table>
  <thead>
    <tr>
      <th>UTC</th>
      <th>Band</th>
      <th>Mode</th>
      <th>Callsign</th>
      <th>Class</th>
      <th>Section</th>
    </tr>
  </thead>

  <tbody>
    <% Contact.last(5).reverse.each do |contact| %>
      <tr>
        <td><%= format_time_short(contact.created_at) %></td>
        <td><%= contact.band %></td>
        <td><%= contact.mode %></td>
        <td><%= contact.callsign %></td>
        <td><%= contact.classification %></td>
        <td><%= contact.section %></td>
      </tr>
    <% end %>
  </tbody>
</table>