<header>
  <h1>Logbook</h1>
</header>

<section>
  <table>
    <thead>
      <tr>
        <th>UTC</th>
        <th>Band</th>
        <th>Mode</th>
        <th>Callsign</th>
        <th>Class</th>
        <th>Section</th>
        <!--
        <th></th>
        <th></th>
        <th></th> 
        -->
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class="short"><%= format_time_short(contact.created_at) %></td>
          <td class="detail"><%= format_time(contact.created_at) %></td>
          <td><%= contact.band %></td>
          <td><%= contact.mode %></td>
          <td><%= contact.callsign %></td>
          <td><%= contact.classification %></td>
          <td><%= contact.section %></td>
          <!--
          <td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>

</section>

<section>
  <%= link_to 'New Contact', new_contact_path %>
</section>