<p id="notice"><%= notice %></p>

<p>
  <strong>Created:</strong>
  <%= @contact.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @contact.updated_at %>
</p>

<p>
  <strong>Band:</strong>
  <%= @contact.band %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @contact.mode %>
</p>

<p>
  <strong>Call Sign:</strong>
  <%= @contact.callsign %>
</p>

<p>
  <strong>Operating Class:</strong>
  <%= @contact.classification %>
</p>

<p>
  <strong>Section:</strong>
  <%= @contact.section %>
</p>

<p>
  <strong>Note:</strong>
  <%= @contact.note %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
