<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Sounder</title>
  <%= favicon_link_tag(source='favicon.ico', type: "img/png") %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="container">

      <%= yield %>

      <footer>
        <p>Made by <a href="http://sounder.co" title="Sounder"><%= image_tag("sounder.png", alt: "Sounder.co") %></a> with <abbr title="Hugs &amp; Kisses">88s</abbr>.</p>
        <p class="ip">Connect to: <%= display_ip_address %>:3000</p>
      </footer>

    </div>
  </div>

</body>
</html>
